:root {
  --primary-text-color: #757575;
  --contrast-text-color: #FFFFFF;
  --title-text-color: #212121;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196F3;
  --accent-button-background-color: #188CE8;
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --contrast-background-color: #2F303A;
  --accent-background-color: #2196F3;
}

body {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

.title {
  font-weight: 700;
  color: var(--title-text-color);
}

.button {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-width: 0;
  border-radius: 4px;
  
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
}

.button.current,
.button:hover,
.button:focus {
  color: var(--contrast-text-color);
  background-color: var(--accent-background-color);
}

.img {
  display: block;
}

/* Sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */

.header {
  border-bottom: 1px solid #ECECEC;
}

.head-wrapper{
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-menu {
  display: flex;
}

/* Logo */

.logo {
  font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-decoration: none;
}

.logo>span {
  color: var(--accent-text-color);
}

/* Menu */

.site-menu {
  display: flex;
  margin-left: 93px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.menu-link.current,
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-text-color);
}

/* Contacts */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.address>.contacts-link:hover,
.address>.contacts-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--contrast-background-color);
  text-align: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--contrast-text-color);
}

.hero-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
    
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--contrast-text-color);
  background-color: var(--accent-background-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-button-background-color);
}

/* Features */

.section-features {
  padding-top: 94px;
}

.features {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.feature-title {
  margin-bottom: 10px;  

  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Occupation */

.occupation {
  display: flex;
  justify-content: space-between;
}

/* Section Team */

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  border-radius: 0px 0px 4px 4px;

  text-align: center;
  background-color: var(--primary-background-color);
}

.employee-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee-name {
  padding-bottom: 10px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.employee-position {
  font-size: 16px;
  line-height: 1.18;
}

/* Portfolio */

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px)/3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.description-wrapper {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.project-name {
  margin-bottom: 4px;
  
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  font-size: 16px;
  line-height: 1.87;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--contrast-background-color);
}

.footer .logo {
  display: inline-block;
  padding-bottom: 20px;

  color: var(--contrast-text-color);
}

.address {
  font-style: normal;
  color: var(--contrast-text-color);
}

.address>.contacts-link{
  display: inline-block;
  margin-top: 9px;
  
  line-height: 1.71;
  color: var(--contacts-text-color);
}